[include]
	# for credentials
	path = ~/.gitconfig.local
[branch]
	autosetuprebase = always
[core]
	autocrlf = input
	editor = nvim
[status]
	submodulesummary = 1
[push]
	default = simple
[alias]
	up = !git fetch --prune && git rebase --autostash FETCH_HEAD
